* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --border-gray: #ABABAB;
    --gray: #C3C3C3;
    --white: #ECECEC;
}

body {
    background-color: black;
    background-image: url(./obj/broken-noise.png);
    display: grid;
    height: 100vh;
    place-items: center;
}

#screen {
    animation: glow 5s alternate infinite ease-in-out;
    background-color: #018282;
    border: 2px solid var(--border-gray);
    caret-color: transparent;
    display: grid;
    font-family: "Pixelify Sans", sans-serif;
    grid-template-rows: 1fr auto;
    height: 80vh;
    user-select: none;
    width: 80vw;
}

@keyframes glow {
    from {
        box-shadow: 0 0 25px -8px var(--white);
    }

    to {
        box-shadow: 0 0 30px -8px var(--white);
    }
}

#screen::after {
    background: url(./obj/screentile.png);
    content: "";
    image-rendering: pixelated;
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

#desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, 85px);
    grid-template-rows: repeat(auto-fill, 85px);
    place-content: center;
    position: relative;
    touch-action: pinch-zoom;
}

.icon {
    border-radius: 4px;
    display: grid;
    height: 85px;
    image-rendering: pixelated;
    place-items: center;
    width: 85px;
}

.icon:hover {
    background-color: #4687ff98;
    cursor: pointer;
}

#screen-overlay {
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

#screen-overlay>* {
    pointer-events: auto;
}

#taskbar {
    background-color: var(--gray);
    display: flex;
    gap: 10px;
    height: 40px;
    min-width: 0;
    padding: 4px;
    width: 100%;
}

#taskbar-start,
#taskbar-windows>* {
    border: outset 3px var(--border-gray);
    cursor: pointer;
    padding: 2px 10px;
}

#taskbar-start:active,
#taskbar-windows>*:active {
    border: inset 3px var(--border-gray);
}

#taskbar-windows {
    display: flex;
    flex-grow: 1;
    gap: 6px;
    overflow-x: auto;
}

#taskbar-time {
    border: inset 3px var(--border-gray);
    display: grid;
    max-width: 90px;
    min-width: 90px;
    place-items: center;
}

#start-menu {
    background-color: #a3a3a3;
    border-right: solid 2px var(--gray);
    border-top: solid 2px var(--gray);
    bottom: 0;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 4px;
    left: 0;
    max-width: 400px;
    padding: 2px 2px 4px 4px;
    position: absolute;
    transition: .9s ease-in-out;
    width: 100%;
    z-index: 100;
}

#start-menu-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23192d57' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 38px;
}

#start-menu-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#start-menu-items>div {
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 2px 0;
}

#start-menu-items>div:hover {
    background-color: var(--border-gray);
    color: blue;
    cursor: pointer;
}

#start-menu-items a {
    color: unset;
    flex-grow: 1;
    text-decoration: none;
}

.window {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
    pointer-events: auto;
    position: absolute;
}

@media (max-width: 600px),
(max-height: 600px) {
    #screen {
        border: none;
        height: 100vh;
        width: 100vw;
    }

    #screen-overlay {
        height: calc(100vh - 39px);
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        width: 100vw;
    }
}