* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 14px;
}

body {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

section {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow-y: auto;
    padding: 40px;
    scrollbar-color: #282828 #acacac;
    scrollbar-width: thin;
    user-select: none;
}

#content-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#content-buttons h3 {
    background-color: #acacac;
    border: outset 3px gray;
    display: grid;
    overflow-x: hidden;
    padding: 4px;
    place-items: center;
    white-space: nowrap;
    width: 100%;
}

#content-buttons h3:hover {
    cursor: pointer;
}

#content-buttons h3:active {
    border: inset 3px gray;
}

#empty-space {
    border-bottom: outset 3px gray;
    height: 100%;
    width: 100%;
}

#content-container {
    background: #dddddd;
    border: outset 3px gray;
    border-top: none;
    position: relative;
}

#content-container>div {
    height: 100%;
    padding: 5px 15px 15px 15px;
    transition: opacity 130ms linear;
    user-select: text;
    width: 100%;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
    padding-left: 4ch;
}

#page-info-content {
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
}

#landscape-img-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#landscape-img-container img {
    border: 4px white solid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: clamp(250px, 40vw, 350px);
}

@media (max-width: 500px) {
    section {
        padding: 15px;
    }
}

@media (max-width: 420px) {
    #content-buttons {
        grid-template-columns: repeat(2, 1fr);
    }

    #empty-space {
        display: none;
    }
}