* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #282828 #acacac;
}

body {
    min-height: 100vh;
    line-height: 1.2em;
    padding: 5vh 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

ul>ul {
    padding-left: 2ch;
}

#projects,
#timeline {
    font-family: "Micro 5", sans-serif;
    font-style: normal;
    font-size: 54px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
    padding: .5ch 0 2.3ch 0;
}

#projects {
    background: #020024;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(1, 184, 236, 1) 19%, rgba(0, 81, 255, 1) 42%, rgba(175, 1, 238, 1) 83%, rgba(9, 9, 121, 1) 100%);
    background-clip: text;
    color: transparent;
    animation: moveBackground 10s infinite alternate linear;
}

/*
#timeline {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 33%, rgba(252, 176, 69, 1) 66%, rgba(131, 58, 180, 1) 100%);
    background-clip: text;
    color: transparent;
    animation: moveBackground 10s infinite alternate linear;
}
*/

@keyframes moveBackground {
    from {
        background-position: 0px;
    }

    to {
        background-position: 300px;
    }
}

#nav-header {
    text-align: center;
}

nav {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;
}

nav a {
    min-width: 100px;
    color: black;
    padding: 5px 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

section {
    margin: 5vh 0 20vh 0;
    border: 4px outset gray;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, .6);
}

section>h2 {
    display: flex;
    justify-content: center;
    font-size: calc(1em + 4px);
    margin: 15px 0 25px 0;
}

section>h3,
.collapsible {
    margin: 0 5vw;
}

section>h3 {
    display: flex;
    margin-top: 20px;
    user-select: none;
}

section>h3:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5vw;
}

.description p {
    flex: 1 1 250px;
    padding-right: 5vw;
    margin-bottom: 15px;
}

.description img {
    border: 4px #9a8c98 solid;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
    margin: 4px;
}

h3>span {
    margin-left: 1ch;
    transition: transform 400ms ease-in-out;
}

.collapsible {
    font-size: calc(1em - 2px);
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgba(255, 235, 81, 0.2);
    border: 2px gray outset;
    opacity: 0;
    transition: height 400ms ease-in-out, opacity 400ms linear;
}

/* movie browser section */

img[src="./assets/expo-demo.gif"] {
    width: 200px;
}

#movie-browser>.collapsible {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#movie-browser-demo {
    height: 565px;
}

div[data-snack-id] {
    min-width: 800px;
}

#movie-browser-tech-used {
    height: 79px;
}

#movie-browser-tech-used ul,
.collapsible>ul {
    padding: 1ch 3ch;
}

/* movie browser section end */

/* file viewer section start */

#file-viewer .description span {
    display: none;
    white-space: nowrap;
    font-size: 14px;
    position: relative;
    bottom: -19px;
    right: -16vw;
}

#file-viewer>.collapsible {
    height: 80px;
}

img[src="./assets/file-viewer.gif"] {
    width: 320px;
}

/* file viewer section end */

/* location tracker section */

img[src="./assets/location-tracker-ui.jpg"] {
    width: 300px;
}

#location-tracker>.collapsible {
    height: 140px;
}

/* location tracker section end */

/* note taker section */

img[src="./assets/note-taker.gif"] {
    width: 320px;
}

#note-taker>.collapsible {
    height: 121px;
}

/* note taker section end*/

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    body {
        padding: 3vh 5vw;
    }

    .description p {
        padding-right: 0;
    }

    img[src="./assets/note-taker.gif"] {
        width: 300px;
    }

    footer {
        display: block;
    }
}

@media (max-width: 800px) {
    #file-viewer .description span {
        display: inline;
    }
}